{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S.H.I.E.L.D</title>
    <link rel="stylesheet" href="{% static 'css/signin.css'%}">
</head>
<body>
<div class="container" id="container" style="height: 80%;">
	<div class="form-container sign-in-container">
		<form method="post">
			<h1>Log in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
                {% csrf_token%}
                {{ form }}
<!--			<a href="#">Forgot your password?</a>-->
			<br>
			<button type="submit">Sign In</button>
            <a href="{% url 'store'%}" id="goback">Go Back</a>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<a href="{% url 'register'%}"><button class="ghost" id="signUp">Sign Up</button></a>
			</div>
		</div>
	</div>
</div>

</body>
</html>
